.blog-feed--1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.blog-feed--1, 
.blog-feed--1 .card {
    max-width: none;
}

.blog-feed--1 li:nth-of-type(1) { 
    grid-area: 1 / 1 / 3 / 3;
}

.blog-feed--1 li:nth-of-type(2) { 
    grid-area: 1 / 3 / 2 / 4; 
}

.blog-feed--1 li:nth-of-type(3) { 
    grid-area: 1 / 4 / 2 / 5; 
}

.blog-feed--1 li:nth-of-type(4) { 
    grid-area: 2 / 3 / 3 / 5; 
}

.blog-feed--2, 
.blog-feed--2 .card {
    max-width: none;
}

.experts-list,
.blog-stardards {
    padding: 1.25rem;
}

.staff-grid {
    margin-top: 3rem;
}

.staff-card {
    margin-top: 0;
    padding: 1rem;
}

.staff-card__image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 5px solid $body-black;
    border-radius: 50%;
}

.blog-feed--stacked {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.blog-feed--stacked li:nth-of-type(1) { grid-area: 1 / 1 / 4 / 3; }
.blog-feed--stacked li:nth-of-type(2) { grid-area: 1 / 3 / 2 / 5; }
.blog-feed--stacked li:nth-of-type(3) { grid-area: 2 / 3 / 3 / 5; }
.blog-feed--stacked li:nth-of-type(4) { grid-area: 3 / 3 / 4 / 5; }

.blog-feed--stacked .card {
    width: 100%;
    max-width: 100%;
}

.blog-feed--stacked .card:nth-of-type(1) .card__icon {
    max-width: 75px;
}

.blog-feed--stacked .card__icon {
    display: grid;
    place-items: center;
}

.blog-feed--stacked .card__reading-time svg {
    height: 14px;   
    width: 14px;
    margin-right: 4px;
}

.blog-feed--stacked .card__category {
    font-size: $ic-100;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .8;
    text-decoration: none;
    color: $secondary-color;
    z-index: 9;
}

.blog-back a {
    text-decoration: none;
    color: $white;
}

.blog-back a:hover,
.blog-back a:focus {
    color: $secondary-color;
}

.blog-back a:hover .icon-md,
.blog-back a:focus .icon-md {
    transform: translateX(-4px);
}

.blog-back a:hover svg,
.blog-back a:focus svg {
    fill: $secondary-color;
}

.blog-back .icon-md {
    position: relative;
    top: -1px;
    margin-right: 4px;
}

.blog-back .icon-md,
.blog-back svg {
    transition: .3s ease-in-out;
}