.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: $secondary-font;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: $ic--100 $ic-400;
  text-decoration: none;
  transition: $transition;
  width: fit-content;

  &:hover,
  &:focus {
    transition: $transition;
  }
}

.btn--primary {
  color: $white;
  background-color: $primary-color;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white;
    background-color: $dark-black;
  }
}

.btn--secondary {
  color: $white;
  background-color: $secondary-color;
  transition: $transition;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary-color;
  }
}


.btn--black {
  color: $secondary-color;
  background-color: $dark-black;
  transition: $transition;

  &:hover,
  &:focus {
    color: $secondary-color;
    background-color: $primary-color;
  }
}

button {
  cursor: pointer;
}

.btn--filter {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: $ic-100 0;
  transition: $transition;
  margin: 5rem 0 $ic--200 0;

  svg {
    fill: $primary-color;
    width: $ic-400;
    height: $ic-400;
    margin-right: $ic-400;
    position: relative;
    top: -1px;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }

  @include breakpoint(sm) {
    margin: 0;
  }
}

.btn--category {
  font-size: .8rem;
}

.btn--component-control {
  padding: .3rem 1rem;
  background-color: $dark-black;
  color: $white;
  border: none;
}

.btn--active {
  background-color: $body-black;
}

.btn--gradient {
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    $primary-color 0%,
    $secondary-color 15%,
    $secondary-color 85%,
    $primary-color 100%
  );
  color: $white;

  svg {
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    margin-left: 1rem;
    fill: transparent;
    stroke: #fff;
    transition: .3s ease-in-out;
  }

  &:hover,
  &:focus {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
    color: $white;

    svg {
      transform: translate(5px);
    }
  }
}

.btn--newsletter {
  padding: .5rem;
  border: none;
}

.btn--arrow {
  display: flex;
  align-items: center;
  padding: 0;

  &:hover, 
  &:focus {
    .icon-sm {
      transform: translate(8px);
    }
  }
}

.btn--arrow .icon-sm {
  position: relative;
  top: -1px;
  margin-left: .5rem;
  transition: .3s ease-in-out;
}

.btn--split {
  display: flex;
  font-size: .75rem;
  padding: $ic-100 $ic-400;
  border: none;
  color: $primary-color;
  background-color: $body-black;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% + 3px);
    background-color: $primary-color;
    height: 100%;
    aspect-ratio: 1/1;
    transition: $transition;
  }

  &:hover,
  &:focus {
    .btn__icon {
      transform: translateX(8px);
    }

    &::after {
      transform: translateX(8px) rotate(45deg);
    }
  }
}

.btn__icon {
  position: absolute;
  left: calc(100% + 18px);
  z-index: 1;
  transition: $transition;
}

.btn--slanted {
  clip-path: polygon(5% 0%,100% 0%,95% 100%,0% 100%);
}

.btn--rounded {
  border-radius: 50px;
}