.card {
  position: relative;
  list-style-type: none;
  max-width: 30ch;
  margin-inline: auto;
  margin-block-start: 0;
  transition: $transition;
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);

  &:hover, 
  &:focus {
    transform: translateY(-10px);

    .card__overlay {
        opacity: 1;
    }

    .card__img {
      transform: scale(1.1);
    }

    .service-card__underline {
        transform: scaleX(1.5);
    }
  }
}

.card::after {
  position: absolute;
  bottom: -5px;
  right: 0;
  content: "";
  width: 75%;
  height: 10px;
  background-color: $secondary-color;
}

.card__meta {
  position: absolute;
  top: -18px;
  left: 0;
  z-index: 8;
}

.card__image-wrap {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
}

.card__img {
  inline-size: 100%;
  object-fit: cover;
  transition: $transition;
}

.card__overlay {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(109.95deg, rgba(0, 0, 0, 0.15) 0%, rgba($primary-color, 0.5) 100%);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.card__content {
  padding: $ic-200;
}

.card__link::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  height: 100%;
  width: 100%;
  content: "";
}

.card--component-preview {
  background-color: $dark-black;
}

.card--component-preview .card__image-wrap {

}

.card--component-preview .cover-image img {
  object-fit: contain;
  padding: $ic-400;
}