.component__preview {
    padding: $ic-500 $ic-300;
}

.component__preview .header {
    z-index: 1;
}

.component__controls {
    background-color: $dark-black;
    height: 100%;
    padding: .3rem;
}