.component {
    padding: $ic--100;
    border-bottom: 1px solid $brand-black;

    @include breakpoint(sm) {
        border-right: 1px solid $brand-black;
    }
}

@include breakpoint(sm) {
    .component:nth-child(2n) {
        border-right: none;
    }
}

@include breakpoint(md) {
    .component:nth-child(2n) {
        border-right: 1px solid $brand-black;
    }

    .component:nth-child(4n) {
        border-right: none;
    }
}