.cta--split .cta__image img {
    aspect-ratio: 3/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta--with-image .cta__image img {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

.cta--full-background-image {
  display: grid;
}

.cta--full-background-image > * {
  grid-area: 1/-1;
}

.cta--full-background-image .cta__content {
  z-index: 3;
}

.cta--full-background-image .cta__overlay {
  z-index: 2;
  background-color: rgba(0,0,0,.6);
}

.cta--full-background-image .cta__image {
  z-index: 1;
}