.hero {
  position: relative;
  background: #fff;
  display: grid;

  > * {
    grid-area: 1/-1;
  }
}

.hero .col {
  margin: auto 0;
}

.hero__image img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
}