.hero {
  position: relative;
  background: #fff;
  display: grid;

  > * {
    grid-area: 1/-1;
  }
}

.hero .col {
  margin: auto 0;
}

.hero--image .hero__image img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
}

.hero--centered .hero__image img {
  aspect-ratio: 4/2;
  width: 100%;
  object-fit: cover;
}

.hero--background-image {
  max-height: 500px;
  height: 50vh;
  overflow: hidden;
}

.hero--background-image::after {
  content: "";
  background-color: rgba(0,0,0,.7);
  grid-area: 1/-1;
}

.hero--background-image .hero__content {
  z-index: 1;
  margin: auto 0;
}

.hero--background-image .hero__image {
  position: relative;
}

.hero--background-image .hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero--split-hero {
  position: relative;
  height: 70vh; 
  max-height: 500px;
  overflow: hidden;
}

.hero--split-hero .hero__content {
  margin: auto 0;
}

.hero--split-hero .hero__image {
  position: relative;
}

.hero--split-hero .hero__image img {
  position: absolute;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero--split-hero__logos img {
  max-width: 150px;
  filter: grayscale(1) brightness(0.7);
}