.logo-grid {
    display: grid;
  
    &__item {
        margin: 0;
        list-style-type: none;
    }
  
    &__link {
        border-right: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        display: grid;
        place-items: center;
        height: 150px;
    }
     
    @include breakpoint(sm) {
        grid-template-columns: repeat(2,1fr);
  
        .logo-grid__item:nth-child(even) .logo-grid__link {
        border-right: none;
        }
    }
  
    @include breakpoint(md) {
        grid-template-columns: repeat(4,1fr);
  
        .logo-grid__item:nth-child(4n) .logo-grid__link {
            border-right: none;
        }
    }
}