.footer__social-list {
  margin: 0;
  padding: 0;

  .facebook-icon {
    top: -3px;
  }
}

.footer__social-icon {
  position: relative;
  margin: 0 5px;

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
    }
  }
}

.footer__social-item {
  list-style-type: none;
  margin: 0;
  padding-inline: $ic-100;
}

.footer__social-item:first-of-type a {
  padding-left: 0;
}