.testimonial--single .testimonial__heading {
    max-width: 16ch;
}

.testimonial--single .testimonial__image img {
    max-width: 400px;
    margin-block: -75px;
    margin-inline: auto;
}


.testimonial__card {
    padding: $ic-300;
    // max-width: 40ch;
    // border: 1px solid rgba($light-gray, .2);
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,.1);
}

.testimonial__card-image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 5px solid $dark-black;
    border-radius: 50%;
}

.testimonial--full .testimonial__icon {
    margin: 0 auto;
}

.testimonial--full .testimonial__image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 5px solid $white;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial--small-image__logo {
    max-width: 150px;
}