{{ define "main" }}
{{ partial "hero" . }}

    {{ if and (isset .Params "htmlExamples") (isset .Params "cssExamples") }}
        {{ range $index, $htmlExample := .Params.htmlExamples }}
            {{ $cssExample := index .Params.cssExamples $index }}

            <div class="component">
                {{ $htmlExample | safeHTML }}

                <div class="component__code">
                    <button id="htmlBtn-{{ $index }}" class="component__code-btn">HTML</button>
                    <button id="cssBtn-{{ $index }}" class="component__code-btn">CSS</button>
                    <button id="copyHtmlBtn-{{ $index }}" class="component__code-btn">Copy HTML</button>
                    <button id="copyCssBtn-{{ $index }}" class="component__code-btn">Copy CSS</button>

                    <div id="htmlCode-{{ $index }}" class="component__code-html">
                        <pre><code>{{ $htmlExample }}</code></pre>
                    </div>
                    <div id="cssCode-{{ $index }}" class="component__code-css" style="display:none;">
                        <pre><code>{{ $cssExample }}</code></pre>
                    </div>
                </div>
            </div>
            <script>
                document.getElementById("htmlBtn-{{ $index }}").addEventListener("click", function() {
                    document.getElementById("htmlCode-{{ $index }}").style.display = "block";
                    document.getElementById("cssCode-{{ $index }}").style.display = "none";
                });

                document.getElementById("cssBtn-{{ $index }}").addEventListener("click", function() {
                    document.getElementById("htmlCode-{{ $index }}").style.display = "none";
                    document.getElementById("cssCode-{{ $index }}").style.display = "block";
                });

                document.getElementById("copyHtmlBtn-{{ $index }}").addEventListener("click", function() {
                    copyToClipboard('{{ $htmlExample }}');
                });

                document.getElementById("copyCssBtn-{{ $index }}").addEventListener("click", function() {
                    copyToClipboard('{{ $cssExample }}');
                });
            </script>
        {{ end }}
    {{ end }}

<div class="block">
    <div class="post-content wrapper flow">
        {{ .Content  }}
        {{ partial "blog/share-buttons" . }}
        {{ partial "blog/post-navigation" . }}
    </div>
</div>
{{ end }}
