{{ define "main" }}
{{ partial "hero" . }}
    {{ $currentPage := . }}
    {{ range $index, $page := .Pages }} <!-- Loop over the pages in the current section -->
        {{ $htmlExample := $page.Params.html_example }}
        {{ $cssExample := $page.Params.css_example }}
        {{ range $index, $htmlExample := $htmlExample }}
            {{ $cssExample := index $cssExample $index }}

            <div class="block bg-black-2">
                <div class="wrapper-lg">
                    <div class="component" id="component-{{ $currentPage.Title }}-{{ $index }}">
                        <div class="component__header flex flex-justify-between">
                            <h2 class="h3 text-color-white">{{ $page.Title }}</h2>
                            <div class="component__controls">
                                <button class="btn btn--component-control btn--active" data-type="preview">Preview</button>
                                <button class="btn btn--component-control" data-type="html">HTML</button>
                                <button class="btn btn--component-control" data-type="css">SCSS</button>
                                <button class="btn btn--component-control" data-type="copy-html">Copy HTML</button>
                                <button class="btn btn--component-control" data-type="copy-css">Copy SCSS</button>
                            </div>
                        </div>
                        <div class="component__preview bg-black" id="preview-{{ $currentPage.Title }}-{{ $index }}">
                            {{ $htmlExample | safeHTML }}
                        </div>
                        <pre class="component__code-html language-html bg-black text-color-white" id="htmlCode-{{ $currentPage.Title }}-{{ $index }}" style="display:none;"><code>{{ $htmlExample }}</code></pre>
                        <pre class="component__code-css language-css bg-black text-color-white" id="cssCode-{{ $currentPage.Title }}-{{ $index }}" style="display:none;"><code>{{ $cssExample }}</code></pre>
                    </div>
                </div>
                <div class="copy-success-message bg-black text-color-white" id="copy-success-message" style="display:none;">Copied to clipboard!</div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
