{{ define "main" }}
{{ partial "hero" . }}
    {{ $currentPage := . }}
    {{ range $index, $page := .Site.Pages }}
        {{ if eq $page.Type "components" }}
            {{ $htmlExamples := $page.Params.htmlExamples }}
            {{ $cssExamples := $page.Params.cssExamples }}
            {{ range $index, $htmlExample := $htmlExamples }}
                {{ $cssExample := index $cssExamples $index }}

                <div class="block bg-black-2">
                    <div class="wrapper-lg">
                        <div class="component">
                            <div class="component__header flex flex-justify-between">
                                <h2 class="h3 text-color-white">{{ $page.Title }}</h2>
                                <div class="component__code">
                                    <button class="component__code-btn" data-index="{{ $currentPage.Title }}-{{ $index }}" data-type="preview">Preview</button>
                                    <button class="component__code-btn" data-index="{{ $currentPage.Title }}-{{ $index }}" data-type="html">HTML</button>
                                    <button class="component__code-btn" data-index="{{ $currentPage.Title }}-{{ $index }}" data-type="css">CSS</button>
                                    <button class="component__code-btn" data-index="{{ $currentPage.Title }}-{{ $index }}" data-type="copy-html">Copy HTML</button>
                                    <button class="component__code-btn" data-index="{{ $currentPage.Title }}-{{ $index }}" data-type="copy-css">Copy CSS</button>
                                </div>
                            </div>
                            <div class="component__preview bg-black" id="preview-{{ $currentPage.Title }}-{{ $index }}">
                                {{ $htmlExample | safeHTML }}
                            </div>
                            <pre class="component__code-html bg-black text-color-white" id="htmlCode-{{ $currentPage.Title }}-{{ $index }}" style="display:none;"><code>{{ $htmlExample }}</code></pre>
                            <pre class="component__code-css bg-black text-color-white" id="cssCode-{{ $currentPage.Title }}-{{ $index }}" style="display:none;"><code>{{ $cssExample }}</code></pre>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
