<article class="card card--component-preview flex flex-column col">
	{{ if .Params.Categories }}
	<div class="card__meta">
		{{ range (.GetTerms "categories") }}
			<a href="{{ .Permalink }}" class="btn btn--secondary btn--category" aria-label="View all {{ .LinkTitle }} posts">{{ .LinkTitle }}</a>
		{{ end }}
	</div>
	{{ end }}
	<div class="card__image-wrap cover-image">
		<img src="{{ .Params.seo.featured_image }}" alt="" class="card__img">
		<div class="card__overlay">
			<div class="btn btn--secondary" aria-label="">View Components</div>
		</div>
	</div>
	<div class="card__content flow">
		<h2 class="h4"><a class="card__link no-decoration" href="{{ .Permalink }}">{{ .Title }}</a></h2>
		<div class="card__summary text-color-white font-size-xs">{{ len .Pages }} components</div>
	</div>
</article>