.footer {
  background-color: $dark-black;
  color: $white;
}

.footer a {
  color: $white;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.footer__logo {
  display: block;
  max-width: 200px;
  margin-inline: auto;
}

.footer__nav-item {
  list-style-type: none;
  margin-top: 0;
  padding: $ic-100; 
}

.footer__copyright {
  font-size: $ic--100;
  padding: $ic-100 0;

  @include breakpoint(md)  {
    .footer__credits {
      margin-left: auto;
    }
  }
}

.footer__nav,
.footer__copyright-nav {
  margin: 0;
  padding: 0;
}

.footer__copyright-item {
  list-style-type: none;
  margin: $ic-100;

  @include breakpoint(md)  {
    margin: 0 0 0 $ic--100;
  }
}

.footer--centered .footer__top {
  padding-block: $ic-300;
}

.footer--centered .footer__bottom {
  border-top: 1px solid $body-black;
}