.site-header {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 9;
  background-color: $dark-black;
  box-shadow: 0px 2px 30px rgba($dark-black, 0.1);

  @include breakpoint(md) {
    position: fixed;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $ic-300;
    padding-right: $ic-300;

    @include breakpoint(md) {
      overflow: visible;
    }
  }

  &__logo {
    display: grid;

    .brand-logo {
      img {
        width: 100%;
        max-width: 170px;
        padding: $ic-100 0;

        @include breakpoint(md) {
          max-width: 275px;
        }
      }
    }
  }

  &__mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease-out;
    height: 0;

    ul {
      padding: 0;

      li {
        list-style-type: none;
      }
    }

    a {
      color: $primary-color;
      text-decoration: none;
      padding-bottom: $ic-300;
      width: 100%;
      transition: color 0.3s ease-out;

      &:hover,
      &:focus {
        color: $secondary-color;
      }
    }

    @include breakpoint(md) {
      display: none;
    }
  }

  &__mobile-nav-inner {
    padding: $ic-500;
  }
}

.nav-list {
  display: none;
  width: 100%;
  top: 100%;
  left: 0;
  // transform: translateX(120%);
  transition: 0.3s ease-in-out;
  padding: 0;
  // opacity: 0;
  margin: 0;
  padding: $ic-300;

  @include breakpoint(md) {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   justify-content: space-evenly;
    //   background-color: transparent;
    //   width: auto;
    //   position: relative;
    //   top: 0;
    //   left: 0;
    //   transform: translateX(0);
    //   opacity: 1;
    display: block;
    position: static;
    padding: 0;
  }

  &__item {
    list-style-type: none;
    margin-top: 0;
    padding: $ic-100;

    @include breakpoint(md) {
      display: inline-block;
    }
  }

  .nav-list__item:last-of-type {
    padding: $ic-100 0;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $light-gray;
    font-size: $ic-200;
    transition: 0.3s ease-out;

    &::after {
      background: $primary-color;
      height: 2px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: top right;
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      transition: transform 0.4s ease-out;
    }

    @include breakpoint(md) {
      &:hover,
      &:focus {
        color: $primary-color;

        &::after {
          transform: scaleX(1);
          transform-origin: top left;
        }
      }
    }
  }
}

.collapse {
  @include breakpoint(md) {
    animation: collapse 0.5s ease forwards;
  }
}

// Open nav bar on scroll up
.expand {
  @include breakpoint(md) {
    animation: expand 0.5s ease forwards;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
}

.header {
  width: 100%;
  // position: fixed;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  transition: .3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
  padding: .5rem 0;
}

// .header__hamburger {
//   width: 80px;
//   height: 80px;
// }

.header__mobile-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: .3s ease-in-out;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-in-out;

  @include breakpoint(md) {
    display: none;
  }
}

.header__mobile-nav.nav-open {
  max-height: 1000px;
}

.header__mobile-nav-item {
  position: relative;
  list-style-type: none;
}

.header__mobile-nav-link,
.header__mobile-dropdown-link {
  text-decoration: none;
  padding: 1rem 0;
  display: block;
  width: 100%;
  transition: color .3s ease-in-out;
  // font-family: $secondary-font;

  &:hover,
  &:focus {
    color: #92981b;
  }
}

.header__mobile-nav-link {
  font-size: 1.25rem; 
  border-bottom: 1px solid #f6f6f6;
  color: #1d1d1d;
}

.header__mobile-dropdown-link {
  font-size: $ic-100; 
  padding: 0 0 $ic--200 0;
  color: rgba(#1d1d1d, .8);
}

.header__mobile-dropdown {
  display: none;
  padding: 0 1rem;
}

.has-dropdown-open .header__mobile-nav-inner {
  max-height: 650px;
  overflow: auto;
}

.mobile-dropdown-open {
  border-bottom: 1px solid rgba(#f6f6f6, 0.1);

  .parent {
    border-bottom: none;
  }

  .header__mobile-dropdown {
    display: block;
  }
}

.header__mobile-nav-menu {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(lg) {
    overflow: visible;
  }
}

.header__logo {
  max-width: clamp(150px, 20vw, 200px);
}

.header__nav {
  display: none;

  @include breakpoint(md) {
    display: flex; 
    width: 100%;
  }
}

.header__nav-list {
  display: none;

  @include breakpoint(md) {
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s ease-in-out;
    padding: 0;
    margin: 0;
  }
}

.header__nav-list-link {
  position: relative;
  text-decoration: none;
  // font-family: $secondary-font;
  font-size: 1.1rem;
  padding: $ic--200 0;
  transition: .3s ease-out;
  color: #1d1d1d;

  &::after {
    background: #92981b;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: top right;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    transition: transform 0.4s ease-out;
  }

  @include breakpoint(md) {
    &:hover,
    &:focus {
      color: #cd1f40;

      &::after {
        transform: scaleX(1);
        transform-origin: top left;
      }
    }
  }
}

.header__nav-list-item {
  position: relative;

  @include breakpoint(md) {
    position: static;
    list-style-type: none;
    margin-top: 0;
    padding: $ic-100 $ic-200;
    display: inline-block;
  }
}

.header__nav-list-item:last-of-type {
  padding-right: 0;
}

.header__nav-list-link {

  @include breakpoint(md) {
    text-decoration: none;
    color: #1d1d1d;
    // font-family: $secondary-font;
    font-size: 1.2rem;
    transition: .3s ease-in-out;
    
    &:hover,
    &:focus {
      color: #cd1f40;

      .header__sub-menu-indicator {
        transform: rotate(180deg);
      }
    }
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
}

.toggle-mobile-dropdown {
  position: absolute;
  top: 16px;
  right: 0;
  height: $ic-400;
  width: $ic-600;
  background: none;
  border: none;
  border-left: 1px solid $light-gray;

  &::before,
  &::after {
    content: "";
    width: 1rem;
    height: 2px;
    background-color: $primary-color;
    position: absolute;
    transition: 0.3s ease;
    top: 50%;
    right: 30%;
    transform: translate(-30%, -30%);
  }

  &::before {
      transform: translate(-30%, -30%) rotate(90deg);
  }
}

.mobile-dropdown-open .toggle-mobile-dropdown {
  &::before {
    transform: translate(-30%, -30%) rotate(0deg);
  }
}

.collapse {
  @include breakpoint(md) {
    animation: collapse 0.5s ease forwards;
  }
}

// Open nav bar on scroll up
.expand {
  @include breakpoint(md) {
    animation: expand 0.5s ease forwards;
  }
}

@keyframes collapse {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes expand {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}