<footer class="footer">
  <div class="footer__top"></div>
  <div class="footer__bottom wrapper-lg">
    <div class="footer__copyright flex flex-column flex-row-md flex-center">
      <p>© {{ dateFormat "2006" now }} {{ .Site.Data.site_settings.business_name }}</p>
      <ul class="footer__copyright-nav flex flex-justify-center flex-justify-start-md">
        <li class="footer__copyright-item"><a href="/privacy-policy/">Privacy Policy</a></li>
        <li class="footer__copyright-item"><a href="/sitemap/">Sitemap</a></li>
        <li class="footer__copyright-item"><a href="/contact/">Contact</a></li>
      </ul>
      <div class="footer__credits"><a href="https://insightcreative.com" target="_blank">Website by Insight Creative, Inc.</a></div>
    </div>
  </div>
</footer>
{{ partial "scripts" . }}