{{ define "main" }}
<div class="block bg-black">
    <div class="wrapper flow">
        <h1>CSS Components</h1>
        <h2>A collection of popular layouts and patterns made with CSS</h2>
    </div>
</div>
<div class="block">
    <div class="block">
        <div class="wrapper">
            <div class="components bg-black grid-4">
                {{ $components := where .Site.RegularPages "Section" "components" }}
                {{ range $components }}
                    <div class="component">
                        <a href="{{ .Permalink }}" class="flow">
                            {{ .Params.html | safeHTML }}
                            <h2 class="h5 text-center">{{ .Title }}</h2>
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
